

            /* Estilos para el encabezado (Navbar) */
            .navbar {
                background-color: #343a40;
            }

            .navbar-brand {
                font-size: 24px;
            }

            /* Estilos para los enlaces del menú al pasar el cursor */
            .nav-link {
                font-size: 24px;
                position: relative;
                color: #ffffff; /* Color de texto inicial (cambia según tus preferencias) */
                transition: color 0.3s, background-color 0.3s; /* Transición suave para el color de texto y fondo */
                padding: 5px 15px; /* Espaciado alrededor del texto del enlace */
            }   

            .nav-link:hover {
                color: #fff; /* Cambia el color del texto al pasar el cursor */
                background-color: #007bff; /* Color de fondo brillante al pasar el cursor */
                border-radius: 5px; /* Añade bordes redondeados para un efecto de botón */
                z-index: 1; /* Asegura que el enlace esté por encima del fondo */
            }

            /* Estilos para la sección de Bienvenida (Jumbotron) */
            .jumbotron {
                background-position: center; /* Centra la imagen de fondo */
                color: #ffffff; /* Color del texto sobre la imagen de fondo */
            }


